@charset "UTF-8";

:root {
    /* CORES */
    --cor01: #f1c98a; /* #f7e5cd */
    --cor02: #492a1d; /* #492a1d */

    /* FONTES */
    --fonte01: Verdana, 'Geneva', Tahoma, sans-serif;
    --fonte02: 'Passion One', cursive;
    --fonte03: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    background-color: #a9a9a9;
    font-family: var(--fonte01);
}

header {
    background-color: var(--cor02);
    color: #fff;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /* text-transform: uppercase; */
    font-family: var(--fonte02);
    color: var(--cor01);
    font-size: clamp(4rem, 12vw, 7rem);
}

header > p {
    color: var(--cor01);
    padding-bottom: 50px;
}

header a, footer a {
    color: var(--cor01);
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

header a:active, footer a:active {
    background-color: var(--cor01);
    color: var(--cor02);
    text-decoration: none;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    padding-right: 30px;
    font-family: var(--fonte03);
    font-size: clamp(1.5rem, 3.5vw, 2rem);
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: var(--cor01);
    color: #000;
}

section.imagem {
    background-color: var(--cor02);
    color: var(--cor01);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.349);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px #000;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
}

footer {
    background-color: var(--cor02);
    color: var(--cor01);
    text-align: center;
    padding: 10px;
}